name: Deploy website

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Hugo CLI
        env:
          HUGO_VERSION:
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v0.131.0/hugo_extended_0.131.0_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Build with Hugo
        run: |
          git submodule update --init --recursive  # fetch theme
          make html

      - name: Deploy pages
        uses: actions/deploy-pages@v4
        with:
          folder: ./public
          repository-name: scientific-python-translations/scientific-python-translations.github.com
          branch: main
          token: ${{ secrets.PERSONAL_TOKEN }}
